.setCategoryFilterContainer {
  position: relative;
}

body {
  background-color: rgb(192, 202, 224);
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to the viewport height for vertical centering */
}